.plan-overview {
  background: rgb(206, 248, 202);
  margin-top: 32px;
  border-top: 4px solid darkgreen;
  border-right: 4px solid darkgreen;
  border-bottom: 4px solid darkgreen;
  padding: 16px;
  width: calc(100% - 208px);
}

.plan-overview:hover {
  border-top: 4px solid rgb(245, 108, 108);
  border-right: 4px solid rgb(245, 108, 108);
  border-bottom: 4px solid rgb(245, 108, 108);
  box-shadow: 1px 1px 1px 1px rgba(158, 154, 154, 0.5)
}

.plan-overview a {
  text-decoration: none;
  color: black;
}

.plan-overview__subtitle {
  color: rgb(179, 179, 179);
}

.plan-overview__description {
  background: white;
  border: 1.5px solid rgba(0, 128, 0, 0.5);
  padding: 16px;
}

.premium {
  background: darkgreen;
}

.premium .plan-overview__title {
  color: white;
}
